*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    width: 400px;
    height: 400px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2)
}

.hour {
    position: absolute;
    background-color: red;
    width: 8px;
    height: 130px;
    top: 80px;
    left: 200px;
    border-radius: 4px;
    animation: hourNeedle 60s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}


 .minutes {
    position: absolute;
    background-color: red;
    width: 6px;
    height: 180px;
    top: 30px;
    left: 200px;
    border-radius: 3px;
    animation: minutesNeedle 20s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
}   

@keyframes minutesNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.seconds {
    position: absolute;
    background-color: red;
    width: 4px;
    height: 190px;
    top: 20px;
    left: 200px;
    border-radius: 3px;
    animation: secondsNeedle 10s infinite;
    transform-origin: bottom center;
    animation-timing-function: linear;
} 

@keyframes secondsNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.circle {
position: absolute;
background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

@keyframes hourNeedle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.time12 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 10px;
    left: 200px;
    font-size: large;
}
.time3 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 170px;
    left: 380px;
    font-size: large;
}
.time6 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 360px;
    left: 210px;
    font-size: large;
}
.time9 {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 180px;
    right: 380px;
    font-size: large;
}

.time10 {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 105px;
    right: 365px;
    font-size: large;
}


.time11 {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 40px;
    right: 300px;
    font-size: large;
}

.time1 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 40px;
    left: 300px;
    font-size: large;
}
.time2 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 95px;
    left: 350px;
    font-size: large;
}
.time4 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 250px;
    left: 360px;
    font-size: large;
}
.time5 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 320px;
    left: 300px;
    font-size: large;
}
.time7 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 320px;
    left: 90px;
    font-size: large;
}
.time8 {
    position: relative;
    width: 2px;
    height: 2px;
    top: 243px;
    left: 30px;
    font-size: large;
}